{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CIRT{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> 
</head>
<body>

    <!-- Header -->
    <header>
        <div class="primary_header">
            <p class="thumbnail_align">&nbsp; </p>
            <!-- Header with logo on the top-left Code from ChatGPT -->
            <img src="{% static 'core/images/CIRT_LOGO.png' %}" alt="Logo" class="logo">
            <h1 class="title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;CRIMINOLOGY INSTITUTE FOR RESEARCH/TRAINING (CIRT)</h1>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search this site..." onkeyup="searchFunction()">
                 <!-- Login/Signup Buttons || Code from ChatGPT -->
                <button id="loginBtn" class="login-button" onclick="openPopup()">Login</button>
                <button id="signUpBtn" class="popup-content" onclick="openSignUpPopup()">Register</button>
                <ul id="searchResults"></ul>
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="secondary_header">
        <div class="button-container">
            <!-- Link to the 'About' (index) page -->
            <a href="{% url 'index' %}">
                <button class="button">About</button>
            </a>
            <!-- Link to the Journals page -->
            <a href="{% url 'journals' %}">
                <button class="button">Publications</button>
            </a>
            <!-- Link to the 'Posters' page (current page, so no change needed) -->
            <a href="{% url 'posters' %}">
            <button class="button">Posters</button>
            </a>
            <!-- Link to the 'Faculty'  page //WORK IN PROGRESS RABBIT HOLE BUTTON// -->
            <a href="{% url 'index' %}">
                <button class="button">Faculty</button>
            </a>
            <!-- Link to the 'DashBoard'  page //WORK IN PROGRESS RABBIT HOLE BUTTON// -->
            <a href="{% url 'Dashboard' %}">
                <button class="button">Dashboard</button>
            </a>
            <!-- Link to the 'FAQ' page (define 'faq' view and URL if needed) -->
            <a href="{% url 'FAQ' %}">
                <button class="button">FAQ</button>
            </a>
        </div>
    </nav>

  <!-- Content Section (Code from ChatGPT) -->
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
<footer class="secondary_header footer">
    <div class="copyright"><strong>&nbsp;</strong></div>
</footer>

<!-- Include Login Popup -->
{% include 'components/login_popup.html' %}
{% include 'components/signup_popup.html' %}

</body>
</html>
   