<!-- templates/about.html -->
{% extends 'core/base.html' %}

{% load static %} 

{% block title %}Dashboard{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
{% endblock %}

{% block content %}
</head>
    <div class="container">
    <!-- Main Content -->
    <main class="main-content">
        <section class="apps-section">
            <h2>Apps</h2>
            <div class="apps-grid">
                <div class="app-container">
                    <a href="{% url 'index' %}" class="app-box">My Portal</a>
                    <span class="descript">My Portal</span>
                </div>
                <div class="app-container">
                   
                    <a href="{% url 'index' %}" class="app-box">Journals</a>
                    <span class="descript">Journals</span>
                </div>
                <div class="app-container">
                    <a href="{% url 'index' %}" class="app-box">Posters</a>
                    <span class="descript">Posters</span>
                </div>
                <div class="app-container">
                    <!-- how to connect pages with django format -->
                    <a href="{% url 'index' %}" class="app-box">Email</a>
                    <span class="descript">Email</span>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
