@charset "UTF-8";
/* CSS Document */

/* General Body Styling */
body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Lora', 'Times New Roman', serif;
}

/* Container */
.container {
    width: 90%;
    margin: auto;
    background-color: #FFFFFF;
}

/* Filter Section Styling */
.filter-section {
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#filterSelect {
    padding: 8px;
    font-size: 16px;
}

#filterInput {
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

.copyright {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

.cards {
    width: 250px; /* Adjust to your preference */
    height: 350px; /* Maintain uniform size */
    object-fit: cover; /* Prevent stretching and maintain aspect ratio */
    border-radius: 12px; /* Optional for rounded corners */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Gallery Styling */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 20px; /* Space between posters */
    margin-top: 20px;
    justify-content: center;
}


